@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: black;
}

.container {
  width: 80%;
  height: 100vh;
  position: relative;
  background-color: #F5F5F5;
}

.main {
  margin-top: 20px;
}

.input, input::placeholder {
  font-size: 20px;
  color: #B5B3B2;
}